@model Tarea5.EVENTO

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Estas seguro de borrar este evento?</h3>
<div>
    <h4>EVENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EVENTO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EVENTO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LUGAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUGAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
